

<tabs>
  <tab heading="Tab 1">Welt 1</tab>
  <tab heading="Tab 2">Welt 2</tab>
</tabs>

<hr>

<knob ng-model="homeIndex.knobValue"></knob>


<hr>

<form name="form">
  <input name="password" type="text" ng-model="password" required>

  <div ng-show="form.password.$error.required">
    Please enter a password!
  </div>

  <input name="passwordConfirmation" type="text" ng-model="passwordConfirmation" confirmation-validator="password">

  <div ng-show="form.passwordConfirmation.$error.passwordConfirmation">
    Passwords do not match!
  </div>

</form>



<hr>


<input type="number" ng-model="homeIndex.knobValue">






<hr>

<colorpicker r="1" g="20" b="150"></colorpicker>

{{homeIndex.name}}
<button my-click="homeIndex.log($event)">Click me</button>

<demo></demo>

