<form name="form">
  <input name="password" type="text" ng-model="password" required>

  <div ng-show="form.password.$error.required">
    Password required
  </div>

  <input name="passwordConfirmation" type="text" ng-model="passwordConfirmation" confirmation-validator="password">

  <div ng-show="form.password.$error.passwordConfirmation">
    Passwords do not match
  </div>


</form>



<hr>

<knob ng-model="homeIndex.knobValue"></knob>

<input type="number" ng-model="homeIndex.knobValue">






<hr>

<colorpicker r="1" g="20" b="150"></colorpicker>

{{homeIndex.name}}
<button my-click="homeIndex.log($event)">Click me</button>

<demo></demo>

